body {
  display: none;
  box-sizing: border-box;
  background: rgb(181, 167, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: yellow;
  font-family: cursive;
  font-style: oblique;
  font-weight: bold;
}

.Outerclock {
  display: none;
  background-color: antiquewhite;
  width: 600px;
  height: 600px;
  margin: 20px;
  border-radius: 50%;
  border-style: solid;
  border-color: blueviolet;
  border-width: 15px;
}

.hands .secondhand {
  position: absolute;
  background-color: blueviolet;
  width: 5px;
  height: 300px;
  left: 50%;
  transform-origin: 100% 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hands .minutehand {
  margin-top: 100px;
  position: absolute;
  background-color: blueviolet;
  width: 7px;
  height: 200px;
  left: 50%;
  transform-origin: 100% 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hands .hourhand {
  position: absolute;
  margin-top: 200px;
  background-color: blueviolet;
  width: 9px;
  height: 100px;
  left: 50%;
  transform-origin: 100% 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.circle {
  position: fixed;
  margin-top: 280px;
  background-color: blueviolet;
  width: 40px;
  left: 49%;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}
.line {
  position: relative;
  height: 35px;
  width: 15px;
  padding: 5px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
}
#l12 {
  margin-left: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#l6 {
  margin-left: 290px;
  margin-top: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#l3 {
  margin-left: 575px;
  margin-top: 235px;
  transform: rotate(90deg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#l9 {
  margin-top: -40px;
  transform: rotate(90deg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.r270 {
  transform: rotate(270deg);
}
#p6 {
  margin: auto;
}
#p3 {
  margin: auto;
}
#p9 {
  margin: auto;
}
