body {
  box-sizing: border-box;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Outerclock {
  display: none;
  background-color: antiquewhite;
  width: 600px;
  height: 600px;
  margin: 20px;
  border-radius: 50%;
}

.hands .secondhand {
  position: absolute;
  background-color: blueviolet;
  width: 5px;
  height: 300px;
  left: 50%;
  transform-origin: 100% 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hands .minutehand {
  margin-top: 100px;
  position: absolute;
  background-color: blueviolet;
  width: 7px;
  height: 200px;
  left: 50%;
  transform-origin: 100% 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hands .hourhand {
  position: absolute;
  margin-top: 200px;
  background-color: blueviolet;
  width: 9px;
  height: 100px;
  left: 50%;
  transform-origin: 100% 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.circle {
  position: absolute;
  margin-top: 280px;
  background-color: blueviolet;
  width: 40px;
  left: 49%;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}
